<nz-row [nzGutter]="16">
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'机床型号'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'刀具型号'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'加工材料'"></nz-statistic>
    </nz-col>
</nz-row>
<nz-row [nzGutter]="16">
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'累计工作时长'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'刀具型号'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'加工材料'"></nz-statistic>
    </nz-col>
</nz-row>
<nz-divider nzDashed></nz-divider>
<!--zhe-->
<!--<p>实时震动数据</p>-->
<div echarts [options]="chartOption" class="demo-chart"></div>

<!--<div echarts [options]="chartOption" class="demo-chart"></div>-->

<!--<div echarts [options]="chartOption" class="demo-chart"></div>-->
